<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/toastr/build/toastr.min.css">
  </head>
  <body>
    <div id="container"></div>
  </body>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/x2js/x2js.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/toastr/build/toastr.min.js"></script>
  <script src="/script.min.js"></script>
</html>
